<h1 class="page-header">Detalhes da Tarefa: {{task?.title}} </h1>

<form #taskForm="ngForm" *ngIf="task">
  <div class="row">

    <div class="form-group col-md-6" [class.has-error]="showFieldErrors(title)" [class.has-success]="title.valid">
      <label for="title" class="control-label">Título</label>
      <input #title="ngModel" id="title" name="title" [(ngModel)]="task.title" type="text" class="form-control" required minlength="2" maxlength="255">
      <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="title.valid" [class.glyphicon-remove]="showFieldErrors(title)" style="margin-right: 20px; margin-top: 25px"></span>
      <div *ngIf="showFieldErrors(title)" class="text-danger">
        <div *ngIf="title.errors.required">Título é obrigatório</div>
        <div *ngIf="title.errors.minlength">Título deve ter no minimo 2 caracteres</div>
        <div *ngIf="title.errors.maxlength">Título deve ter no máximo 225 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3" [class.has-error]="showFieldErrors(deadline)" [class.has-success]="deadline.valid">
      <label for="done" class="control-label">Prazo de Entrega</label>
      <input #deadline="ngModel" id="deadline" name="deadline" [(ngModel)]="task.deadline" type="text" class="form-control" required>
      <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="deadline.valid" [class.glyphicon-remove]="showFieldErrors(deadline)" style="margin-right: 20px; margin-top: 25px"></span>
      <div *ngIf="showFieldErrors(deadline)" class="text-danger">O prazo é obrigatório</div>
    </div>

    <div class="form-group col-md-3" [class.has-error]="showFieldErrors(done)" [class.has-success]="done.valid">
      <label for="done" class="control-label">Situação</label>
      <select #done="ngModel" id="done" name="done" [(ngModel)]="task.done" type="text" class="form-control" required>
        <option *ngFor="let opt of taskDoneOptions" [value]="opt.value">{{opt.text}}</option>
      </select>
      <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="done.valid" [class.glyphicon-remove]="showFieldErrors(done)" style="margin-right: 20px; margin-top: 25px"></span>
      <div *ngIf="showFieldErrors(done)" class="text-danger">Situação obrigatória</div>
    </div>

  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição Detalhada</label>
      <textarea id="description" name="description" [(ngModel)]="task.description" class="form-control" rows="4"></textarea>
    </div>
  </div>

  <button class="btn btn-default" (click)="goBack()">Voltar</button>
  <button [disabled]="taskForm.invalid" type="submit" class="btn btn-success" (click)="updateTask()">Atualizar</button>

  <hr>

</form>
